<section class="book">
    <div class="container flex_space">
        <div class="text">
            <h1> <span>Book </span> Your Rooms </h1>
        </div>
        <div class="form">
            <form class="grid">
                <input type="text" placeholder="Check-in" onfocus="(this.type='date')" onblur="(this.type='text')"
                    id="date" />
                <input type="text" placeholder="Check-out" onfocus="(this.type='date')" onblur="(this.type='text')"
                    id="date" />
                <input type="number" placeholder="Adults">
                <input type="number" placeholder="Childern">
                <input type="submit" value="CHECK AVAILABILITY">
            </form>
        </div>
    </div>
</section>