<section class="rooms">
    <div class="container top">
        <div class="heading">
            <h1>EXPOLRE</h1>
            <h2>Our Rooms</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            </p>
        </div>
        <div class="content mtop">
            <div class="owl-carousel owl-carousel1 owl-theme">
                {% for i in range(2) %}
                <div class="items">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/room-2.png')}}" alt="">
                    </div>
                    <div class="text">
                        <h2>Superior Rooms</h2>
                        <div class="rate flex">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.
                        </p>
                        <div class="button flex">
                            <button class="primary-btn">BOOK NOW</button>
                            <h3>$250 <span> <br> Per Night </span> </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>