<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---->Link to an external style sheet
     <link rel="stylesheet" href="style.css" text="text/css">

     <!---->Title for my html document
    <title>Hotel booking</title>

     <!---->Google font family for style sheet
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<!---->
    
</head>
<body>
    <div class="header">
        <nav>
            <img src="Images/logo.jpg" class="logo">
            <ul class="nav-links">
                <li><a href="">HOME</a></li>
                <li><a href="">REGION</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">ABOUT</a></li>
                <li class="btn">Sign up</li>
                
            </ul>
        </nav>
        <div class="content">
            <h1>FIND YOUR NEXT STAY</h1>
            
            <h2>Search low prices on hotels,homes and much more...</h2>
            <form >
                <input type="text" placeholder="Enter keyword">
                <button type="submit">Find Hotel</button>
            
            </form>
        </div>

    </div>
</body>
</html>